html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Lobster', serif;
    font-weight: 700;
    margin: 0;
    font-size: 26px;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

header {
    background: #ff6a00;
    color: #fff;
    width: 100vw;
    text-align: center;
    padding: 5px 0 5px 0;
    border-bottom: 2px solid #808080;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.title{
    width: 100%;
}

.tag-line{
    font-size: 12px;
}

.filter-by{
    width: 100vw;
    padding: 10px;
    background: #fff;
    font-size: 12px;
    height: 50px;
    font-weight: 600;
    border-bottom: 1px solid #808080;
    text-align: center;
}

.filter-by-label{
    color: #ff6a00;
}

select {
    font-family: 'Roboto', sans-serif;
    color: #808080;
    padding: 5px;
    width: 200px;
    border-radius: 5px;
}

option:focus, option:active{
    background: #ff6a00;
    color: #fff;
}


.list{
    background: #fff;
    width: 100%;
}

.list-title{
    background: #ff6a00;
    color: #fff;
    padding: 10px;
    font-family: 'Lobster', serif;
    cursor:pointer;
}

.list-ctrl .icon{
    padding: 10px;
}

.locations{
    list-style: none;
    padding-left: 0;
    margin: 0px;
}

.locations li:first-child {
    border-top: 1px solid #808080;
}

.locations li{
    padding: 5px 0 0 10px;
    border-bottom: 1px solid #808080;
    border-right: 1px solid #808080;
    height: 20px;
    background: #fff;
    color: #808080;
    font-size: 14px;
    cursor:pointer;
}

.locations .selected{
    color: #ff6a00;
    font-weight: bold;
    cursor: default;
}

.locations li:hover{
    color: #ff6a00;
    cursor:pointer;
}

main{
    width: 100vw;
    margin: 10px;
    background: #ffffff;
}

.error {
    font-family: 'Roboto-Condensed', sans-serif;
    font-size: 20px;
    color: #ff6a00;
}

#map {
    width: 100%;
    height: 500px;
}

.info-window {
    background: #fff;
    font-family: 'Roboto-Condensed', sans-serif;
    font-size: 12px;
    padding: 5px;
    width: 200px;
    height: 150px;
}

.info-window .location-info, .info-window .location-image {
    width: 100%;
}

.info-window .location-title {
    color: #ff6a00;
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 2px;
}

.info-window .location-title a{
    text-decoration: none;
    color: #ff6a00;
}

.info-window .location-detail {
    padding: 2px 0 0px 0;
    color: #808080;
}

.info-window i {
    padding: 5px;
    color: #808080;
}

.info-window img {
    margin: 0;
    padding: 5px 0 0 0 ;
}

footer {
    background: #fff;
    color: #808080;
    width: 100vw;
    text-align: center;
    padding: 5px 0 5px 0;
    border-top: 2px solid #808080;
}

/* Media queries */

@media screen and (min-width: 720px) {

    h1{
        font-size: 40px;
    }

    header {
        padding: 15px 0 15px 0;
    }

    .tag-line{
        font-size: 16px;
    }

    .filter-by{
        width: 100%;
        height: 30px;
        text-align: right;
    }

    select {
        margin-right: 5px;
    }

    .list{
        width: 30%;
    }

    main{
        width: 65%;
    }

}